.heading{
    font-size:23px;
    width:100%;
    margin:0px;
    font-family:'Fruktur', cursive;
}

.note{
    font-size:15px;
    color:black;
    font-family: 'Twinkle Star', cursive;
}

body{
    background-size:cover;
    text-align:center;
}

.play{
    width:300px;
    height:100px;
    font-size:50px;
}

canvas{
    border:5px dashed black;
    border-radius:20px;
}